{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
{% load static %}
<!--The info to be shown here require further discussion, here is only a simple example-->

<form action="{% url 'filter' %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_form form %}
        {% buttons submit='Submit' %}{% endbuttons %}
</form>

<p>Images of user: {{ user }}</p>


<div class="container">
    <div class="table">
        <table data-toggle="table" id="table_filter"
               class="table table-striped table-bordered" data-sort-order="desc"
               data-search="true" data-filter-control="true"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-pagination="true" data-side-pagination="client">
            <thead>
            <tr>
                <th data-field="class" data-sortable="true" width="20%"
                    data-filter-control="select">Author</th>
                <th data-field="name" data-sortable="true"
                    data-filter-control="input" width="30%">Name</th>
                <th data-field="date" data-sortable="true" width="30%"
                    data-filter-control="select">Date</th>
                <th data-field="heat" data-sortable="false" width="40%">Heat
                </th>
                <th data-field="src" data-sortable="false" width="40%">src</th>
            </tr>
            </thead>
            {% for img in imgs %}
                <tr>
                    <td>{{ img.author.username }}</td>
                    <td>{{ img.id }}</td>
                    <td>{{ img.created_at }}</td>
                    <td>{{ img.like_num }}</td>
                    <td><a
                            href="{% static 'img_pool/'%}{{ img.img }} ">{{img.img}}
                    </a></td>
                </tr>
            {% endfor %}
 
        </table>
    </div>
</div>


{% endblock %}

