{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="images-wall">
        <a href="friendsPic.html"><h2>Friends' Pictures</h2></a>
        <div class="row placeholders">
            <!-- for image in friends' images-->
            <!--
            <div class="col-sm-2 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <p>name</p>
            </div>
            -->
            {% load static %}
            {% for img in imgs %}
            <div class="col-sm-2 placeholder">
                <img src="{% static 'img_pool/'%}{{ img.img }} "
                         width="200"
                     height="200"
                     class="img-responsive"
                     alt="Generic placeholder thumbnail">
                <p><a href="{% url 'pic' img.id %}">name</a></p>
            </div>{% endfor %}
        </div>
    </div>
    <div class="images-wall">
        <a href="publicPic.html"><h2>Public Pictures</h2></a>
        <button type="button" class="btn btn-primary ">Another 30
            Pictures</button>
        <div class="row placeholders">
            <!-- for image in random 30 images-->
            <div class="col-sm-2 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <p>name</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}