{% extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}

<h3>Manage your relationship</h3>
{% include 'messages.html'%}
<div>
    <form method="post" action="{%url 'search-user'%}">
        {% csrf_token %}
        {% bootstrap_form search_form%}
        {% buttons submit='search'%}{% endbuttons%}
    </form>
</div>
{%if search_result %}
<h3>Search Result</h3>
    {%for user in search_result%}
        {%if user.username != username %}
        <h4><a href="/index/users/{{user.username}}/">{{user.nickname}}</a></h4>
        {%endif%}
    {%endfor%}
{%endif%}
<h3>followings:</h3>
{% for user in followings %}
<h4><a href="/index/users/{{user.username}}/">{{user.nickname}}</a></h4>
{% endfor %}

<h3>blacklist:</h3>
{% for user in blacklist %}
<h4><a href="/index/users/{{user.username}}/">{{user.nickname}}</a></h4>

{% endfor %}
{% endblock %}