{% extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}

<h3>管理用户关系</h3>
{% include 'messages.html'%}
<div>
    <form method="post" action="{%url 'search-user'%}">
        {% csrf_token %}
        {% bootstrap_form search_form%}
        {% buttons submit='搜索'%}{% endbuttons%}
    </form>
</div>
{%if search_result%}
    {%for user in search_result%}
        <li>{{user.nickname}}</li>
        <a href="">查看主页</a>
        <a href="{{"/follow/"|add:user.username}}">关注该用户</a>
        <a href="{{'/unfollow/'|add:user.username}}">取消关注</a>
        <a href="{{'/black/'|add:user.username}}">加入黑名单</a>
        <a href="{{'/unblack/'|add:user.username}}">移出黑名单</a>
    {%endfor%}
{%endif%}
<h4>关注列表</h4>
{% for user in followings %}
<li>{{user.nickname}}</li>
<a href="">查看主页</a>
<a href="{{"/follow/"|add:user.username}}">关注该用户</a>
<a href="{{'/unfollow/'|add:user.username}}">取消关注</a>
<a href="{{'/black/'|add:user.username}}">加入黑名单</a>
<a href="{{'/unblack/'|add:user.username}}">移出黑名单</a>
{% endfor %}

<h4>黑名单列表</h4>
{% for user in blacklist %}
<li>{{user.nickname}}</li>
<a href="">查看主页</a>
<a href="{{"/follow/"|add:user.username}}">关注该用户</a>
<a href="{{'/unfollow/'|add:user.username}}">取消关注</a>
<a href="{{'/black/'|add:user.username}}">加入黑名单</a>
<a href="{{'/unblack/'|add:user.username}}">移出黑名单</a>
{% endfor %}
{% endblock %}