{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
<h2>{{target.nickname}}</h2>
{% if if_following %}
<a class="btn btn-default" href="{{'unfollow/'}}{{user.username}}/" role="button">
    Unfollow</a>
{% else %}
<a class="btn btn-default" href="{{'follow/'}}{{user.username}}/" role="button">Follow</a>
{% endif %}
{% if if_blocked %}
<a class="btn btn-default" href="{{'unblack/'}}{{user.username}}/" role="button">
    Unblock</a>
{% else %}
<a class="btn btn-default" href="{{'black/'}}{{user.username}}/" role="button">Block
</a>
{% endif %}
{% if hidden %}
<h2>Sorry, you cannnot see anything about the {{user.username}} because
    you are blocked.</h2>
{% else %}
<hr>
<h3>His/Her Images</h3>
<div class="container container-fluid">
    {% for img in imgs %}
    <div class="col-sm-2 placeholder">
        <a href="{% url 'pic' img.id %}">
            <img src="{% static 'img_pool/'%}{{ img.img }} "
                 width="200"
                 height="200"
                 class="img-responsive"
                 alt="{{img.description}}">
        </a>
    </div>
    {% endfor %}
</div>
<hr>
<h3>Timelines</h3>
<div class="container">
    {% for tl in timelines %}
    <a href="{% url 'pic' tl.image_id.id %}">
        <img src="{% static 'img_pool/'%}{{ tl.image_id.img }} "
             width="200"
             height="200"
             class="img-responsive"
             alt="{{img.description}}">
    </a>
    {% if tl.type == 'like' %}
    <p><strong><a href="/index/users/{{tl.sender_id.username}}/">{{tl.sender_id.nickname}}</a></strong> likes
        <strong><a href="/index/users/{{tl.receiver_id.username}}/">{{tl.receiver_id.nickname}}</a></strong> image. </p>
    {% endif %}
    {% if tl.type == 'collect' %}
    <p><strong><a href="/index/users/{{tl.sender_id.username}}/">{{tl.sender_id.nickname}}</a></strong> collects
        <strong><a href="/index/users/{{tl.receiver_id.username}}/">{{tl.receiver_id.nickname}}</a></strong> image. </p>
    {% endif %}
    {% if tl.type == 'comment' %}
    <p><strong><a href="/index/users/{{tl.sender_id.username}}/">{{tl.sender_id.nickname}}</a></strong> comments
        <strong><a href="/index/users/{{tl.receiver_id.username}}/">{{tl.receiver_id.nickname}}</a></strong> image. </p>
    <div class="well"><p>{{tl.comment_text}}</p></div>
    {% endif %}
   {% if tl.type == 'post' %}
    <p><strong><a href="/index/users/{{tl.sender_id.username}}/">{{tl.sender_id.nickname}}</a></strong> uploads this image. </p>
    {% endif %}
    <p>{{tl.occur_time}}</p>
    <hr>
    {% endfor %}
</div>
<hr>
<h3>Collection</h3>
<div class="container container-fluid">
    {% for img in collection %}
    <div class="col-sm-2 placeholder">
        <a href="{% url 'pic' img.id %}">
            <img src="{% static 'img_pool/'%}{{ img.img }} "
                 width="200"
                 height="200"
                 class="img-responsive"
                 alt="{{img.description}}">
        </a>
    </div>
    {% endfor %}
</div>
<hr>
<h3>Followings</h3>
<div class="container">
    {% for man in followings %}
    <p><strong><a href="/index/users/{{man.username}}">{{man.username}}</a></strong></p>
    {% endfor %}
</div>
<hr>
<h3>Followers</h3>
<div class="container">
    {% for man in followers %}
    <p><strong><a href="/index/users/{{man.username}}">{{man.username}}</a></strong></p>
    {% endfor %}
</div>
<hr>
<h3>Blocks</h3>
<div class="container">
    {% for man in blocks %}
    <p><strong><a href="/index/users/{{man.username}}">{{man.username}}</a></strong></p>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
